@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-[#0f172a] text-white;
  font-family: 'Inter', sans-serif;
}
@keyframes newMatchPulse {
  0% {
    box-shadow: 0 0 16px rgba(16, 185, 129, 0.8);
    background-color: rgba(16, 185, 129, 0.15);
  }
  100% {
    box-shadow: 0 0 0 rgba(16, 185, 129, 0);
    background-color: transparent;
  }
}

.new-match-anim {
  animation: newMatchPulse 1s ease-out forwards;
}

/* red warning for removed */
@keyframes removedPulse {
  0% {
    box-shadow: 0 0 16px rgba(239, 68, 68, 0.8);
    background-color: rgba(237, 22, 22, 0.889);
  }
  100% {
    box-shadow: 0 0 0 rgba(239, 68, 68, 0);
    background-color: transparent;
    opacity: 0;
  }
}

.removed-match-anim {
  animation: removedPulse 2s linear forwards;
  pointer-events: none; /* don't let user interact with dying cards */
}
